
[commit]
  gpgsign = true

[credential]
  helper = cache

[core]
  editor = vim
  # Ignore chmod changes by default
  fileMode = false

[color]
  ui = auto

[color "branch"]
  current = 225 reverse
  local = 110
  remote = 244
  upstream = blue
  plain = 110

[color "diff"]
  context = black
  meta = normal
  frag = blue
  old = red
  new = green
  commit = cyan
  whitespace = yellow red

[color "status"]
  header = normal
  added = 42
  changed = 222
  untracked = 244

[branch "master"]
  remote = origin

[github]
  user = exbotanical

[includeIf "gitdir:~/"]
  path = .gitconfig.personal

[includeIf "hasconfig:remote.*.url:ssh://git.amazon.com:**"]
  path = .gitconfig.work

[includeIf "onbranch:mainline"]
  path = .gitconfig.work
