**/*/packer_compiled.lua
**/logs
hexchat/**/scrollback
.DS_Store
vim/.vim/autoload
vim/.vim/plugged
gtk/.icons/default/cursors
.build
*.tsbuildinfo
startpage/startpage.js
node_modules
bundle.js
haskell/.ghc/ghci_history
