.arch-info-box {
  @include rounding;
  background-color: $surface0;
  margin: .5rem 1rem;
  padding: .5rem;
}

.arch-info-text {
  label {
    font-size: $font-sm;
  }
}

.arch-menu-box {
  @include window;
  background-color: $bg;
  border: 1px solid $border;
  border-radius: 0;
  color: $text;
  padding: .5rem;

  label {
      font-size: $font-base;
    }
}
