.calendar-window {
  @include window;
  border: 1px solid $border;
  color: $fg;
  padding: .5em;
  font-size: $font-base;
}

calendar {
  padding: 5px;

  :selected {
    color: $yellow;
  }

  .header {
    color: $subtext1;
  }

  .highlight {
    color: $blue;
    font-weight: bold;
  }

  .button {
    color: $sapphire;
  }

  :indeterminate {
    color: $overlay0;
  }
}
