@mixin element-bg {
  background-color: $surface0;
}

.control-panel {
  &.container {
    @include window;
    border: 1px solid $border;
    border-top: none;
    color: $text;
  }

  .separator {
    font-size: $font-xs;
  }

  .top-row {
    margin: 1rem 1rem 0;

    .time {
      font-size: $font-xl;
    }

    .date-box {
      margin: 0 1rem 1rem 1rem;

      label {
        font-size: $font-base;
      }

      .date {
        background: unset;
        margin: 0 0.5rem 0 0;
        padding: 0;
      }
    }
  }

  .system-row {
    margin: 0.5rem 0.7rem;

    label {
      font-size: $font-sm;
      margin: 0 0.1rem;
    }

    .box {
      @include rounding;
      @include element-bg;
      margin: 0.5rem;
      min-height: 2rem;
      min-width: 10rem;

      button {
        @include rounding;
        padding: 1rem;

        label {
          font-size: $font-md;
        }

        &:hover {
          background-color: $overlay0;
        }
      }
    }

    .box + label {
      margin: 0 1rem;
    }

    .airplane-connected {
      background-color: $blue;

      button:hover {
        background-color: $blue-dark;
      }
    }

    .bt-connected {
      background-color: $blue;
      color: $crust;

      button:hover {
        background-color: $blue-dark;
      }
    }

    .wifi-connected {
      background-color: $mauve;
      color: $crust;

      button:hover {
        background-color: $mauve-dark;
      }
    }
  }

  .sliders-row {
    @include rounding;
    @include element-bg;
    margin: 0.5rem 1rem;
    padding: 0.75rem 1.5rem;

    scale {
      min-width: 26.5rem;

      trough {
        margin-right: -20;
      }
    }

    box {
      margin: 0.5rem 0;
    }

    label {
      font-size: $font-md;
    }

    .volume-slider-box,
    .brightness-slider-box {
      trough {
        background-color: $base;
      }
    }

    .volume-slider-box scale highlight {
      @include rounding;
      background-image: linear-gradient(to right, $teal, $sky);
    }

    .brightness-slider-box scale highlight {
      @include rounding;
      background-image: linear-gradient(to right, $yellow, $peach);
    }
  }

  .sys-text-sub {
    color: $text;
  }

  .sys-text-mem,
  .sys-text-cpu {
    font-size: $font-sm;
    font-weight: bold;
  }

  .sys-icon-cpu,
  .sys-icon-mem {
    font-size: $font-lg;
    margin: 1.25rem;
  }

  .sys-icon-cpu {
    padding-right: 16px;
  }

  .sys-icon-mem {
    padding-right: 10px;
  }

  .system-info-box {
    @include rounding;
    @include element-bg;
    margin: 0.5rem 1rem;
    padding: 0.5rem;

    box {
      margin-bottom: -10;
    }
  }

  .sys-bottom-box {
    margin-top: 1rem;
    margin-left: -1rem;
  }

  .system-info-text {
    label {
      font-size: $font-sm;
    }
  }

  .sys-mem,
  .sys-cpu {
    background-color: $bg;
  }

  .sys-icon-mem,
  .sys-text-mem,
  .sys-mem {
    color: $peach;
  }

  .sys-icon-cpu,
  .sys-text-cpu,
  .sys-cpu {
    color: $sapphire;
  }

  .sys-box {
    margin: 0.3em;

    box {
      margin-left: 1rem;
    }
  }

  .battery-icon {
    font-size: $font-md;
    margin-top: 0.125rem;
  }

  .battery-wattage {
    color: $mauve;
  }

  .battery-status {
    margin-left: -4rem;
    color: $subtext0;
  }

  .battery-text {
    margin-left: -4rem;
  }

  .arch-icon {
    margin-top: 0.125rem;
  }

  .arch-status {
    margin-left: -4rem;
  }
}
