.membar {
  color: $peach;
}

.cpubar {
  color: $blue;
}

.batbar {
  color: $green;
}

.circular-progress {
  background-color: $bg1;
}

.circular-progress {
  margin: 0 0.2rem;
}

.icon-text {
  font-size: $font-base;
  padding: 0.75rem;
}

.docker-connected {
  background-color: $blue;
  color: $crust;
}

.docker-disconnected {
  color: $overlay2;
}

.docker-disabled {
  background-color: $flamingo;
}
