@mixin element-bg {
  background-color: $surface0;
}

.control-panel {
  &.container {
    @include window;
    border: 1px solid $border;
    border-top: none;
    color: $text;
  }

  .separator {
    font-size: $font-lg;
  }

  .top-row {
    border-bottom: 1px solid $overlay0;
    margin: 1.2rem 1.2rem 0rem 1.2rem;

    .time {
      font-size: 4rem;
      font-weight: bold;
    }

    .date-box {
      margin: 1rem;

      label {
        font-size: $font-md;
      }

      .date {
        background: unset;
        margin: 0 0.5rem 0 0;
        font-weight: 500;
      }

      .day {
        color: $subtext1;
      }
    }
  }

  .system-row {
    margin: 0.8rem 0.6rem;

    label {
      font-size: $font-base;
    }

    .box {
      @include rounding;
      @include element-bg;
      margin: 0.6rem;
      min-width: 11rem;
      border: 1px solid transparent;
      transition: all 200ms ease;

      button {
        @include rounding;
        padding: 0.8rem;
        min-height: 4rem;

        label {
          font-size: $font-lg;
        }

        &:hover {
          background-color: $overlay0;
        }
      }
    }

    .box + label {
      margin: 0 0.8rem;
      font-size: $font-sm;
    }

    .airplane-connected {
      background-color: $red;
      border-color: $red;

      button:hover {
        background-color: $red-dark;
      }
    }

    .bt-connected {
      background-color: $blue;
      color: $crust;
      border-color: $blue;

      button:hover {
        background-color: $blue-dark;
      }
    }

    .wifi-connected {
      background-color: $mauve;
      color: $crust;
      border-color: $mauve;

      button:hover {
        background-color: $mauve-dark;
      }
    }
  }

  .sliders-row {
    @include rounding;
    @include element-bg;
    margin: 0rem 1rem;
    padding: 1rem 1rem;
    border: 1px solid $overlay0;

    scale {
      min-width: 32rem;

      trough {
        border-radius: 8px;
      }
    }

    box {
      margin: 0.6rem 0;
    }

    label {
      font-size: $font-md;
      margin-right: 0.8rem;
      min-width: 2rem;
    }

    .volume-slider-box,
    .brightness-slider-box {
      trough {
        background-color: $base;
        border: 1px solid $overlay0;
      }
    }

    .volume-slider-box scale highlight {
      @include rounding;
      background-image: linear-gradient(to right, $teal, $sky);
    }

    .brightness-slider-box scale highlight {
      @include rounding;
      background-image: linear-gradient(to right, $yellow, $peach);
    }
  }

  .sys-text-sub {
    color: $text;
  }

  .sys-icon-cpu,
  .sys-icon-mem {
    font-size: $font-xl;
    margin: 3rem;
  }

  .system-info-text {
    label {
      font-size: $font-xl;
    }
  }

  .sys-mem,
  .sys-cpu {
    background-color: $bg;
  }
  .sys-icon-mem,
  .sys-text-mem,
  .sys-mem,
  .sys-icon-cpu,
  .sys-text-cpu,
  .sys-cpu {
    // RAM/CPU circle size
    min-width: 1rem;
  }

  .sys-icon-mem,
  .sys-text-mem,
  .sys-mem {
    color: $peach;
  }

  .sys-icon-cpu,
  .sys-text-cpu,
  .sys-cpu {
    color: $sapphire;
  }

  .system-cards-row {
    margin: 0.2rem 0.7rem;
    padding: 0.5rem 0;
  }

  .cpu-card,
  .memory-card {
    @include rounding;
    @include element-bg;
    margin: 0.4rem;
    padding: 0.6rem;
    border: 1px solid $overlay0;
    min-width: 0;

    .system-info-text {
      margin-top: 0.3rem;

      label {
        // RAM/CPU font size
        font-size: $font-base;
      }
    }
  }
}
