.membar {
  color: $peach;
}

.cpubar {
  color: $blue;
}

.batbar {
  color: $green;
}

.circular-progress {
  background-color: $bg1;
}

.circular-progress {
  margin: 0 .2rem;
}

.icon-text {
  font-size: $font-base;
  padding: .75rem;
}
