.membar {
  color: $peach;
}

.cpubar {
  color: $blue;
}

.batbar {
  color: $green;
}

.circular-progress {
  background-color: $bg1;
  margin: 0 0.3rem;
  padding: 2px;
}

.tray-circle {
  font-size: $font-base;
}
