.module {
  margin: 0 8px;
  padding: 4px 12px;
  font-size: $font-base;
  min-height: 26px;

  label {
    // Space between tray icons
    padding: 2px 18px;
    // Tray circle size
    min-width: 20px;
    min-height: 20px;
  }

  &.inactive {
    color: $overlay2;
  }

  &.disabled {
    color: $flamingo;
  }
}

.module-docker {
  // Space between tray circles and other icons
  margin-right: 40px;
}

.right-section {
  padding-right: 8px;
}

.system-tray {
  margin-right: 8px;
  padding: 0 4px;
}
