.module {
  margin: 0 8px;
  padding: 4px 6px;
  font-size: $font-base;
  min-height: 26px;

  label {
    padding: 2px 4px;
    min-width: 20px;
    min-height: 20px;
  }

  &.inactive {
    color: $overlay2;
  }

  &.disabled {
    color: $flamingo;
  }
}

.module-docker {
  margin-right: 20px;
}

.right-section {
  padding-right: 8px;
}

.system-tray {
  margin-right: 8px;
  padding: 0 4px;
}
