@import 'css/themes/_dracula';

$font-xs: 1rem;
$font-sm: 1.25rem;
$font-base: 1.5rem;
$font-md: 2rem;
$font-lg: 2.5rem;
$font-xl: 3rem;

@mixin rounding {
  border-radius: 1rem;
}

@mixin window {
  background-color: $bar-bg;
  margin-top: 2.175rem;
  border: 1px solid $border;
  box-shadow: 0 2px 3px $shadow;
  padding: 5px 5px 10px;
  border-radius: 0 0 1rem 1rem;
}

* {
  all: unset;
  transition: 200ms ease;
  font-family: "", Roboto, sans-serif;
  font-size: $font-base;
}


@import 'css/arch';
@import 'css/calendar';
@import 'css/music';
@import 'css/osd';
@import 'css/system-menu';
@import 'css/system-bar';
@import 'css/volume';

.bar {
  background-color: $bar-bg;
  color: $fg;

  label {
    font-size: $font-base;
  }
}

tooltip {
  background: $bg;
  border: 1px solid $border;
  border-radius: 8px;

  label {
    font-size: $font-xs;
  }
}

.icon,
.icon label {
  font-family: Material Symbols Outlined;
}

.module {
  margin: 0 20px;
}

.hour {
  padding-left: 1rem;
}

.time-delimiter {
  margin: 4px 1px 0px 0px;
}

.minute {
  padding-right: .7rem;
}

.date {
  background: $bg;

  label {
    font-size: $font-base;
  }
}

.brightness-icon {
  color: $polar;
}

.module-bluetooth {
  font-size: $font-base;
}

scale trough {
  background-color: $bg1;
  border-radius: 24px;
  margin: 0 1rem;
  min-height: 10px;
  min-width: 70px;
}

.workspaces {
  margin-left: 10px;
}

.news-box {
  @include rounding;
  background-color: $surface0;
  margin: .5rem 1rem;
  padding: 1.5rem;
}

.arch-logo {
  margin-right: .25rem;

  label {

    margin-right: 33px;
    color: $mantle;
    font-size: 2rem;
    margin: -.8rem 1rem;
  }
}

.workspaces {
  label {
    font-size: 1.75rem;
    margin: -.1rem 0;
    margin-bottom: .15rem;
  }
}
