@import 'css/colors';

@mixin rounding {
  border-radius: 1rem;
}

@mixin window {
  border: 1px solid $border;
  box-shadow: 0 2px 3px $shadow;
  margin: 5px 5px 10px;
  @include rounding;
}

* {
  all: unset;
  transition: 200ms ease;
  font-family: "", Roboto, sans-serif;
}

@import 'css/calendar';
@import 'css/music';
@import 'css/osd';
@import 'css/sidebar';
@import 'css/system';
@import 'css/volume';

.bar {
  background-color: $bg;
  color: $fg;

  label {
    font-size: 1.25rem;
  }
}

tooltip {
  background: $bg;
  border: 1px solid $border;
  border-radius: 8px;

  label {
    font-size: 1rem;
  }
}

.icon,
.icon label {
  font-family: Material Symbols Outlined;
}

.module {
  margin: 0 20px;
}

.hour {
  padding-left: 1rem;
}

.minute {
  padding-right: .7rem;
}

.date {
  background: $bg;
  color: $flamingo;

  label {
    font-size: 1.2rem;
  }
}

.brightness-icon {
  color: $polar;
}

.module-bluetooth {
  font-size: 1.2rem;
}

scale trough {
  background-color: $bg1;
  border-radius: 24px;
  margin: 0 1rem;
  min-height: 10px;
  min-width: 70px;
}

.workspaces {
  margin-left: 10px;
}



.news-box {
  @include rounding;
  background-color: $surface0;
  margin: .5rem 1rem;
  padding: 1.5rem;
}
