$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #ff79c6;
$mauve: #c4f4f3;
$mauve-dark: #94bbbb;
$red: #ff5555;
$red-dark: #c95151;
$peach: #ddf79b;
$yellow: #f1fa8c;
$green: #50fa7b;
$teal: #8fbcbb;
$sky: #89dceb;
$sapphire: #3faee2;
$blue: #73b7c6;
$blue-dark: #609aa7;
$lavender: #b4befe;

$text: #f8f8f2;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;

$surface2: #585b70;
$surface1: #45475a;
$surface0: #4c566a;

$base: #44475a;
$mantle: #44475a;
$crust: #44475a;

$fg: $text;
$bg: $base;
$bg1: $surface0;
$bar-bg: #282a36;
$border: #44475a;
$shadow: $crust;

$polar: #eceff4;
$ice: #e5e9f0;
$sleet: #d8dee9;
