$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #FF79C6;
$mauve: #BD93F9;
$mauve-dark: #FF5555;
$red: #FF5555;
$maroon: #f4a2d1;
$peach: #FFB86C;
$yellow: #F1FA8C;
$green: #50FA7B;
$teal: #8FBCBB;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #8BE9FD;
$blue-dark: #7ba2e1;
$lavender: #b4befe;

$text: #F8F8F2;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;

$surface2: #585b70;
$surface1: #45475a;
$surface0: #4C566A;

$base: #44475A;
$mantle: #282A36;
$crust: #44475A;

$fg: $text;
$bg: $base;
$bg1: $surface0;
$bar-bg: #282A36;
$border: #44475A;
$shadow: $crust;

$polar: #ECEFF4;
$ice: #E5E9F0;
$sleet: #D8DEE9;
