$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #9aa79d;
$mauve-dark: #e67e80;
$red: #e67e80;
$maroon: #eba0ac;
$peach: #e69875;
$yellow: #dbbc7f;
$green: #a7c080;
$teal: #8FBCBB;
$sky: #83c092;
$sapphire: #7fbbb3;
$blue: #7fbbb3;
$blue-dark: #9aa79d;
$lavender: #b4befe;

$text: #d3c6aa;
$subtext1: #9aa79d;
$subtext0: #7fbbb3;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #7fbbb3;

$surface2: #585b70;
$surface1: #45475a;
$surface0: #475258;

$base: #272e33;
$mantle: #181825;
$crust: #11111b;

$fg: $text;
$bg: $base;
$bg1: $surface0;
$bar-bg: $base;
$border: #28283d;
$shadow: $crust;
// e67e80
// 83c092
$polar: #9aa79d;
$ice: #E5E9F0;
$sleet: #9aa79d;
